<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", manage_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "Manage Contacts", manage_contacts_path %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to_unless_current "Import Contacts", new_manage_contact_import_path %>
    </li>
<% end %>

<%= content_for(:page_title) do %>
    Import Contacts/Subscribers
<% end %>


<div class="row-fluid">
  <div class="offset1 span10">
    <div class="social-box">
      <div class="header">
        <h4>Import Subscribers</h4>
      </div>
      <div class="body">
        <p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>


        <p><b> The first column must be for email numbers and the second can be for name</b></p>
        <p>Ex: Put email in <b>column A</b> and contact name in <b>column B</b> if using exel</p>

        <%= form_for [:manage, @contact_import] do |f| %>
            <% if @contact_import.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@contact_import.errors.count, "error") %> prohibited this import from completing:</h2>
                  <ul>
                    <% @contact_import.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.file_field :file %>
            </div>
            <div class="buttons" style="margin-top: 10px;"><%= f.submit "Import", class: "btn" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

