<%= simple_form_for([:manage, @news_letter], html: {class: 'form-horizontal' }) do |f| %>

    <% if @news_letter.errors.any? %>
        <div class="alert alert-error" style="margin-top: 10px;">
          <h4><%= pluralize(@news_letter.errors.count, "error") %> prohibited this News Letter from being saved:</h4>

          <ul>
            <% @news_letter.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset style="margin-top:20px">
      <%= f.input :title, input_html: {class: "input-xlarge"} %>
      <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'}} %>
      <div class="form-actions">
        <%= f.submit class: "btn btn-primary" %>  or <%= link_to "Cancel", :back, class: "btn btn-danger" %>
      </div>
    </fieldset>
<% end %>