<div class="media social-box">
  <div class="header">
    <h4><%= news_letter.title %></h4>
  </div>
  <div class="media-body social-body">
    <div class="body">
      <%= raw news_letter.body %>
      <div>
        <div class="btn-group hidden-phone">
          <%= link_to "Send NewsLetter Now", manage_news_letter_path(news_letter), class: "btn btn-warning" %>
          <%= link_to "Edit", edit_manage_news_letter_path(news_letter), class: "btn btn-info" %>
          <%= link_to "Delete", manage_news_letter_path(news_letter), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this news letter"} %>
        </div>
      </div>

    </div>
  </div>
</div>