


<div id="blog_show" class="row-fluid" >

  <div class="span12">

    <section>

      <header>
          <h1 style="border-bottom: none;">
            Sign Up
          </h1>
      </header>

      <div  class="cover_container ">


        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class:"form-horizontal"}) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name, :required => true, input_html: {class: "span9"} %>
              <%= f.input :last_name, :required => true, input_html: {class: "span9"}  %>
              <%= f.input :email, :required => true, :autofocus => true, input_html: {class: "span9"}  %>
              <%= f.input :password, :required => true, input_html: {class: "span9"}  %>
              <%= f.input :password_confirmation, :required => true, input_html: {class: "span9"}  %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>






    </section>
  </div>

</div>


