




<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class:"basic-grey"}) do |f| %>
  <h1>Sign Up</h1>
  <label><span>First Name :</span>
    <%= f.input_field :first_name, label: false, :required => true, :autofocus => true  %>
  </label>
    <label><span>Last Name :</span>
      <%= f.input_field :last_name, label: false, :required => true %>
    </label>
      <label><span>Your Email :</span>
        <%= f.input_field :email, label: false, :required => true  %>
      </label>
      <label><span>Password :</span>
        <%= f.input_field :password, label: false, :required => true %>
      </label>
    <label><span>&nbsp;</span><input type="submit" class="button" value="Send"></label>
<% end %>