<div class="cover">
  <div class="post">

    <a class="article_thumb" href="<%= url_for show_pdf_issue_path(issue)%>">
      <%= image_tag issue.cover(:large)%>
    </a>
    <div class="aricle_ref_box caption">
      <header class="heading_blog">
        <h2>
          <a href="<%= url_for show_pdf_issue_path(issue) %>" class="transitionable">
            <%= issue.title %>
          </a>
        </h2>
      </header>

      <p class="blog_meta">posted in
        <a  class="transitionable category" href="#">
          <span>Magazines</span>
        </a>
        <span class="date"> on&nbsp;&nbsp; <%= issue.created_at.to_date.to_s(:long)%></span>
      </p>

      <p>
        <%= issue.description %>
      </p>
    </div>
  </div>
</div>