<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", manage_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "Manage Categories", manage_categories_path %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>

<%= content_for(:page_title) do %>
   New Slider
<% end %>


<div class="row-fluid">
  <div class="offset1 span10">
    <div class="social-box">
      <div class="header">
        <h4>New Slider</h4>
      </div>
      <div class="body">

        <%= form_for [:manage, @slider] do |f| %>
            <% if @slider.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from completing:</h2>
                  <ul>
                    <% @slider.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :caption %>
              <%= f.text_area :caption %>
            </div>
            <div class="field">
              <%= f.label :url %>
              <%= f.text_field :url %>
            </div>

            <div class="field">
              <%= f.label :slide, "Image" %>
              <%= f.file_field :slide %>
            </div>
            <div class="buttons" style="margin-top: 10px;"><%= f.submit class: "btn" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

