<article class="span4 mid">
  <div class="img">
    <%= link_to image_tag(post.post_image(:th_new)), post %>
  </div>
  <div class="info">
    <p class="tags">
      <%= raw post.categories.map { |tag| link_to tag.name, category_url(tag) }.join(" ") %>
    </p>
    <h1><%= link_to post.title, post, title: post.title %></h1>
    <p class="details"><%= post.publish_on.to_date.to_s(:long)%><%= post.publish_on.to_date.to_s(:long)%> |<% end %> <%= link_to "BlanckDigital", root_url%></p>
    <p class="text">
      <%= truncate post.summary, length: 150 %>
    </p>
  </div>

</article>