<%= provide :header do %>
    <%= render "slider" %>
<% end %>


<section id="about">
  <% Post.blog_posts.recent.limit(4).each  do |post, i|%>
  <article>
    <div>
      <h1><%= post.title%></h1>
      <a class="link1 icon-icon1 read_more" href="#post-<%= post.id %>">
        <%= image_tag post.post_image(:original), style: "max-width: 262%" %>
      </a>
      <p><%= truncate post.summary, length: 100, omission: "..." %></p>
      <a class="link2 read_more" href="#post-<%= post.id %>">View More</a>
      <div class="clearfix"></div>
    </div>
  </article>
  <%  end %>
  <% Post.blog_posts.each_with_index  do |post, i|%>
      <div id="post-<%= post.id %>" class="about-content">
        <div class="container">
          <h1><%= post.title%></h1>
          <p>
            <%= image_tag post.post_image(:original) %>
          </p>
          <p><%= raw post.body %></p>

        </div>
      </div>
  <% end %>
</section>




<section id="belive">
  <div class="container">
    <h1>First Ideal Microfinance Bank</h1>
    <p>
      THINGKING ABOUT TAKING YOUR BUSINESS TO THE NEXT LEVEL, FIRST IDEAL IS THE RIGHT PLACE TO BE. VISIT OUR OFFICE TO MEET OUR TEAM OF BUSINESS PROFESSIONALS FOR AVICE ON HOW TO EXPAND YOUR BUSINNES.
    </p>
  </div>
</section>


<section id="filter">
  <div class="container">
    <h1>Gallery</h1>
    <ul>
      <li class="button filter" data-role="button" data-filter="all">All</li>
      <li class="button filter" data-tole="button" data-filter="branding">Loans </li>
      <li class="button filter" data-filter="web">Services</li>
      <li class="button filter" data-filter="app">Account Oppening</li>
      <li class="button filter" data-filter="printing">Creativity</li>
    </ul>

    <div id="grid">
      <ul class="wf ns popup-gallery">
        <% Post.gallery_posts.recent.limit(9).each do |post|%>
        <li class="mix printing">
          <!--<a href="http://www.youtube.com/watch?v=IxJPSIv3J-g" class="mfp-iframe" title="Video description">-->
            <%= link_to image_path(post.post_image.url(:original)), title: "Image description"  do %>
              <%= image_tag post.post_image.url(:original) %>
            <div class="text">
              <h5>Our Story</h5>
              <span>Customers</span>
              <span>Staff</span>
            </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<section id="pricing">
   <div class="container">
     <h1>Our Differential Factor</h1>
     <p style="color: white"></p>

     <article>
       <div class="basic">
         <h2>Retail</h2>
       </div>
       <ul>
         <li class="yes">First Ideal Term Deposit</li>
         <li class="yes">First Ideal Current Account</li>
         <li class="yes">First Ideal Savings Account</li>
       </ul>
     </article>
     <article>
       <div class="classic">
         <h2>Credit</h2>
       </div>
       <ul>
         <li class="yes">Micro Loans</li>
         <li class="yes">Micro SME loans </li>
         <li class="yes">Medium SME loans</li>
       </ul>
     </article>
     <article>
       <div class="premium">
         <h2>Ebanking</h2>
       </div>
       <ul>
         <li class="yes">Cards</li>
         <li class="yes">Mobile Banking </li>
         <li class="yes">E-Funds Transfer</li>
       </ul>
     </article>
     <article>
       <div class="pro">
         <h2>News</h2>
       </div>
       <ul>
         <li class="yes">Free Mobile Banking</li>
         <li class="yes">Now in Lagos</li>
         <li class="yes">Free Mobile Banking</li>
       </ul>
     </article>
   </div>
 </section>

<section id="contact">

    <div class="container">
      <div class="alert-box" >
        <%= flash_messages %>
      </div>
      <h1>Stay In Touch</h1>
      <%= simple_form_for(@feedback) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs main-form">
            <%= f.input :fullname , :label=>false, :input_html => {:placeholder => "Your Name (Required)", :class=>"gray"}, :wrapper_html=>{:class=>"cont1"} %>
            <%= f.input :email , as: :string,:label=>false, :input_html => {:placeholder => "Your Email (Required)", :class=>"gray"}, :wrapper_html=>{:class=>"cont1"} %>
            <%= f.input :message , :label=>false, :input_html => {:placeholder => "Your Message", :class=>"gray"}, :wrapper_html=>{:class=>"cont2"} %>
          </div>
          <div class="human-test">
            <div id="test">
              <p>Please select number : <strong><span></span></strong></p>
            </div>
            <label class="btn" >
              <input type="radio" name="rand" value="one"><span>1</span>
            </label>
            <label class="btn">
              <input type="radio" name="rand" value="two"><span>2</span>
            </label>
            <label class="btn">
              <input type="radio" name="rand" value="three"><span>3</span>
            </label>
            <label class="btn">
              <input type="radio" name="rand" value="four"><span>4</span>
            </label>
            <label class="btn">
              <input type="radio" name="rand" value="five"><span>5</span>
            </label>
            <button class="btn medium disabled">SUBMIT</button>
          </div>
      <% end %>
      <div class="clearfix"></div>
    </div>

<article class="info">
  <h6>More info</h6>
  <div class="drop">
    <h4>First Ideal MFB</h4>
    <p>2nd Floor, Ajike Plaza. <BR> 48/50 Shogbamu Street,<br>
      New Garage Bariga, Lagos.
      Nigeria</p>
    <h4>Email</h4>
    <p>first_idealmfb@yahoo.com</p>
    <h4>Phone</h4>
    <p>039292992,08068495114,08033638599</p>
  </div>
</article>

<article class="map">
  <div id="map-canvas"></div>
</article>

</section>

<section class="awesome-page">
  <div class="container">
    <h1>Join Us Today</h1>
    <a class="btn large" href="<%= new_user_registration_url %>">REGISTER HERE</a>
  </div>
</section>

<section class="social">
  <div class="container">
    <ul>
      <li class="fb"><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
      <li class="tw"><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
      <li class="ln"><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
      <li class="yt"><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
      <li class="gg"><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>

    </ul>
  </div>
</section>

