<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", manage_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to_unless_current "Navigation Menus", manage_menus_url %>
    </li>
<% end %>

<%= content_for(:page_title) do %>
   Navigation Menus
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <div class="btn-group hidden-phone">
          <%= link_to "Add Menu", new_manage_menu_url, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="body">
        <% if @menus.empty? %>
            <p>
              No menus
            </p>
        <% else %>
            <%= render "list" %>
        <% end %>
      </div>
    </div>
  </div>
</div>