<article class="col3 mid box">
  <div class="img">
    <%= link_to image_tag(post.post_image(:croped)), post %>
  </div>
  <div class="info">
    <p class="tags">
      <%= raw post.categories.map { |tag| link_to tag.name, category_path(tag) }.join(" ") %>
    </p>
    <h1><%= link_to post.title, post, title: post.title %></h1>
    <p class="details"><% if post.publish_on.present? %><%= post.publish_on.to_date.to_s(:long)%> | <% end %><%= link_to "BlanckDigital", root_url%></p>
    <p class="text">
      <% if post.post_type == "Video" %>
          <iframe id="ytplayer" type="text/html" width="100%" height="auto" src="http://www.youtube.com/embed/<%= post.video_url %>" allowfullscreen frameborder="0">
          </iframe>
      <% else %>
          <%= truncate post.summary, length: 150 %>
      <% end %>
    </p>
  </div>

</article>