<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", manage_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "Blog Posts", manage_posts_path %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to_unless_current "Back to post", manage_post_path(@post) %>
    </li>
<% end %>

<%= content_for(:page_title) do %>
    Edit Blog Post
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Editing <%= @post.title %></h4>
      </div>
      <div class="body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

