<div class=" item cover">
  <div class="post">

    <a class="article_thumb">
      <%= image_tag post_entry.entry_cover(:thumb)%>
    </a>
    <div class="aricle_ref_box caption">
      <header class="heading_blog">
        <h2>
          <a href="<%= url_for post_entry %>" class="transitionable">
            <%= post_entry.title %>
          </a>
        </h2>
      </header>

      <p class="blog_meta">posted in
        <a  class="transitionable category" href="#">
          <span>Blanck Page</span>
        </a>
        <span class="date"> on&nbsp;&nbsp; <%= post_entry.created_at.to_date.to_s(:long)%>
          | <a href="<%= url_for post_entry %>#disqus_thread" class="transitionable"></a>
        </span>
      </p>

      <p>
        <%= post_entry.summary %>
      </p>
    </div>
  </div>
</div>