<%= provide :title, "#{@post_entry.title}"%>
<article class="post mid fullwidth">
  <div class="info">
    <h1><%= @post_entry.title%></h1>
    <div class="data">
      <p class="details"><%= @post_entry.created_at.to_date.to_s(:long)%></p>

    </div>
    <div class="text">
      <%= image_tag @post_entry.entry_cover(:large) %>
      <%= raw @post_entry.body %>

    </div>
    <br/> <br/>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'blanckdigital'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


  </div>
</article>