<nav class="clearfix">
  <a href="" id="menu-button"><i class="fa fa-bars"></i></a>
  <ul class="menu span9 inline">
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Magazine", issues_url %></li>
    <li><%= link_to "Blog", posts_url %></li>
    <li><%= link_to "Blanck TV", videos_url %></li>
    <li><%= link_to "Submissions", submissions_url %></li>
    <% Category.first(2).each do |category| %>
        <li><%= link_to category.name.titleize, category %></li>
    <% end %>
    <li class="dropdown-submenu">
      <a href="#">Categories</a>
      <ul class="dropdown-menu">
        <% Category.all.each do |category| %>
            <li><%= link_to category.name.titleize, category_url(category) %></li>
        <% end %>
      </ul>
    </li>
  </ul>

  <%= form_tag("/search", class: "form-search", method: :get) do %>
    <div class="input-append span3">
      <%= text_field_tag :q, "", class: "search-query", placeholder: "Search smth"%>
      <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </div>
  <% end %>
</nav>