<nav class="clearfix">
  <a href="" id="menu-button"><i class="fa fa-bars"></i></a>
  <ul class="menu span10 inline">
    <% Menu.order(position: :asc).roots.each do |menu| %>
        <li <% if menu.descendants.any? %> class="dropdown-submenu"<% end %>>
          <a href="<%= menu.url.present? ? url_for(menu.url) : "#" %>" class="basic-c"><%= menu.name %></a>
          <% if menu.descendants.any? %>
          <ul class="dropdown-menu">
            <% menu.descendants.each do |menu_item| %>
                <li>
                  <%=  menu_item.category.present? ? link_to(menu_item.name, menu_item.category) : link_to(menu_item.name, menu_item.url) %>
                </li>
            <% end %>
          </ul>
          <% end %>
        </li>
    <% end %>
  </ul>

  <%= form_tag("/search", class: "form-search", method: :get) do %>
    <div class="input-append span2">
      <%= text_field_tag :q, "", class: "search-query", placeholder: "Search smth"%>
      <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </div>
  <% end %>
</nav>