<aside class="span3">


  <div class="newsletter visible-desktop">
    <h3>Newsletter</h3>
    <p>Subscribe to our newsletters for the latest Fashion news, Editorials and Campaigns</p>
    <%= form_for Contact.new, remote: true do |f| %>
        <%= f.email_field :email, :class => 'text', :placeholder => 'Your email address' %>
        <%#= email_field_tag 'email', nil, :class => 'text', :placeholder => 'Your email address' %>
      <input type="submit" value="subscribe" class="btn btn-block">
    <% end %>
  </div>

  <div class="banner visible-desktop">
    <div id="my_ad"></div>
    <script>
        window.MyAdsense.newAd(document.getElementById('my_ad'), {
            'ad_slot': "7532272733",
            'ad_width': 270,
            'ad_height': 600
        });
    </script>
  </div>

  <div class="hidden-phone hidden-tablet hidden-desktop"></div>

  <div class="flickr">
    <h4>Blanck Photostream</h4>
  <% public_photos.each do |photo| %>
        <a>
      <div>
        <%= image_tag photo.data(:thumb)%>
        <div class="overlay"></div>
      </div>
    </a>
  <% end %>
  </div>

  <div id="twitter">
    <h4>Latest tweets</h4>
    <div>
      <a class="twitter-timeline" href="https://twitter.com/blanckdigital" data-widget-id="425257038847823872" data-link-color="#f1284e" data-chrome="noheader nofooter   noscrollbar" lang="EN" data-tweet-limit="5">
        @blanckdigital
      </a>
      <script src="//platform.twitter.com/widgets.js"></script>
    </div>
    <%= link_to image_tag("banner3.jpeg", style: "border: 1px solid #eee;"), "http://www.magzter.com/GB/The-Mayten-Company/Blanck-Magazine/Fashion/" %>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- blanck1 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:270px;height:250px"
       data-ad-client="ca-pub-3474336311390984"
       data-ad-slot="5825700158"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div class="flickr">
    <h4>Most Popular</h4>
    <ul class="posts-list">
      <%= render "popular" %>


  </ul>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- blanck2 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-3474336311390984"
       data-ad-slot="9554235753"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</aside>